*
{
    margin: 0;

}
.faqcontainer
{
    clear: both;
    height: 350px;
    width: 100%;
    background-color:#4a4e5a;
}
.Logobox
{
    height: 180px;
    width: 25%;
    margin-top: 50px;
    margin-left: 50px;
    float: left;
}
.Logobox>img{
    margin-left: 20px;
    margin-top: 50px;
}
.Logobox>p{
    margin-left: 20px;
    color: white;
    font-size: 14px;
    font-weight: 400;
}
.faqcontentBox
{
    height: 250px;
    width: 25%;
    margin-top: 50px;
    margin-left: 100px;
    float: left;
    
}
.faqcontentBox>p{
    margin-top: 15px;
    margin-left: 100px;
    color:white;
    font-size: 14px;
    font-weight: 500;
}
.faqsocialBox{
    height: 250px;
    width: 25%;
    margin-top: 50px;
    margin-left: 100px;
    float: left;
}
.faqsocialBox>p{
    margin-top: 15px;
    margin-left: 50px;
    color: #3f3f3f;
    font-size: 16px;
    font-weight: 500;
}
.faqsocialBox>div{
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.faqsocialBox>div>img{
    margin-left: 10px;
    height: 35px;
    width: 35px;
    margin-top: 8px;
}
#box{
    height: 50px;
    width: 240px;
    margin-left: 40px;
    background-color: #fff;
    margin-top: 15px;
    border-radius: 5px;
}
#box>p{
    margin-top: 15px;
    margin-left: 5px;
    color: #6b6b6b;
    font-size: 16px;
    font-weight: 500;
}


