*{
    background-color: #f1f4f8;
    
}

.MainShra{
    width: 80%;
    /* height: 180px; */
    /* border:1px solid black; */
    margin: auto;
}
.imageShra{
    width: 95%;
    height: 100%;
    margin: auto;
    border-radius: 12px;
}
.imageShra1{
    border-radius: 12px;
    width: 95%;
    height: 100%;
    margin: auto;
}
.imageShra12{
 
    width: 50px;
    height: 50px;
    margin: auto;
    left: 20px;
    margin-top: 20px;
    object-fit: contain;
    background-color:  white ;
}
.nameshra{
    background-color:rgb(42,43,54);
    color:rgba(152, 166, 179, 0.81);
    font-family:Poppins;
    list-style: none;
    line-height:40px
}
.nameshra:hover{
    color: white;
   
}