.SearchBox {
    position: absolute;
    width: 40%;
    max-width: 500px;
    max-height: 500px;
    background-color: white;
    border: none;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 16%);
  
    border-radius: 3px;
    margin-top: 7%;
    margin-left: 5%;
    z-index: 1;
    padding: 2%;
  }
  .SearchBox > h2 {
    color: black;
  }
  .SearchBox__TopRow {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .SearchBox__MidRow {
    text-align: center;
    margin: 3% 0;
    color: grey;
  }
  
  .SearchBox__Dropdowns__Date {
    display: flex;
    justify-content: space-around;
    /* border: 1px solid red; */
  }
  .SearchBox__Dropdowns__Date > div {
    /* border: 1px solid red; */
    width: 48%;
  }
  .SearchBox__Dropdowns__Date > div > input {
    width: 100%;
  }
  .SearchBox__Submit {
    text-align: center;
    margin-top: 5%;
  }
  
  .SearchBox__Submit > p {
    margin: 0;
  }
  
  .SearchBox__Submit > button {
    width: 70%;
    height: 50px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    background-image: linear-gradient(270deg, #1caba2 25%, #1c7fab);
  }
  .SearchBox__Dropdowns__Date {
    margin-top: 5%;
  }
  .SearchBox__Dropdowns__List {
    display: flex;
    flex-direction: column;
  }
  .DateTime {
    border: none;
    border-bottom: 1px solid grey;
    height: 50px;
  }